<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    Auth
    <button id="checkout-button">Checkout</button>
    <!-- <%- JSON.stringify(user) %>  -->
    <% if ( message ) { %>
        <div class="flash"><%= message %></div>
    <% } %>
    

</body>
</html>
